.navbar
  img(src='/images/logo.png' alt='')
  nav
    ul
        li 
            a(href="/", class=(active === 'accueil' ? 'active' : '')) Accueil
        li 
            a(href="/services", class=(active === 'services' ? 'active' : '')) Nos Services
        li 
            a(href="/contact", class=(active === 'contact' ? 'active' : '')) Contactez-nous