html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    .container
      main.hors-service
        h1 Service Temporairement Indisponible
        p Notre site web est uniquement accessible pendant les heures ouvrables :
        p
          strong Du lundi au vendredi, de 9h à 17h
        p Nous vous invitons à revenir pendant nos heures d'ouverture.
        p Merci de votre compréhension.


